<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="website" property="og:type" />
    <meta content="liansoft.co.kr" property="og:site_name" />
    <meta content="//liansoft.co.kr/" property="og:url" />
    <meta content="ko_KR" property="og:locale" />
    <meta content="en_US" property="og:locale:alternate" />
    <meta content="리안소프트" property="og:title" />
    <meta
      content="Connect Everything - IOT 기술을 기반으로한 디지털 헬스케어 서비스 분야의 선도 기업"
      property="og:description"
    />
    <meta content="//liansoft.co.kr/images/logo.png" property="og:image" />
    <link rel="shortcut icon" href="./assets/images/favicon.ico" />

    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6db0b21e076439234ba4e66c83fef868"
    ></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
